<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<div class="row">
    <div class="col-md-8">
        <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
        <p class="date">{{ page.date | date_to_long_string }}</p>
        {{ content }}
    </div>
    <div class="col-md-4 sticky">
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}